src/grammar/**/*
!src/grammar/**/*.g4

dist
.idea

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json


# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo
src/**/*.js
src/**/*.js.map
test/**/*.js
test/**/*.js.map
